footer {
    color: #ffffff;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Careers {
    cursor: pointer;
    color: #1E88E5;
}

.row-1 {
    background-color: #0b3156;
}

.row-2 {

    background-color: #0b3156;
}